spring:
  application:
    name: minibank

bot:
  service:
    register:
      path: "http://localhost:8081/v2/users"
    create_account:
      path: "http://localhost:8081/v2/users/{id}/accounts"
    current_balance:
      path: "http://localhost:8081/v2/users/{id}/accounts"
    transfer:
      path: "http://localhost:8081/v2/transfer"
