name: docker-and-minikube
on:
  pull_request:
    branches:
      - trunk
jobs:
  push-to-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/telegram-bot:latest
  minikube-test:
    needs: push-to-docker
    runs-on: ubuntu-latest
    name: build example and deploy to minikube
    steps:
      - uses: actions/checkout@v4
      - name: Start minikube
        uses: medyagh/setup-minikube@latest
      - name: Try the cluster!
        run: kubectl get pods -A
      - name: Build image
        run: |
          minikube image build -t ${{ vars.DOCKERHUB_USERNAME }}/telegram-bot:latest .
      - name: Deploy to minikube
        run:
          kubectl apply -f deployment/telegram-bot.yaml